doctype html
html
  head
    title Pamtree Social Interaction
    link(
      rel="stylesheet",
      type="text/css",
      href="dist/css/bootstrap.min.css"
    )
    link(
      rel="stylesheet",
      type="text/css",
      href="fa/css/fontawesome-all.css"
    )
  body
    header
      h1. 
        <i class="fa fa-user"></i>Hello World